# Игнорировать временные файлы и директории
bin/
obj/
.vscode/

# Игнорировать файлы конфигурации и настройки
*.suo
*.user
*.suo
*.user

# Игнорировать пакеты NuGet
packages/

# Игнорировать файлы Rider
.idea/
*.iml

# Игнорировать кэши ReSharper
/_ReSharper.Caches/
